[submodule "third-party/libcommon"]
	path = third-party/libcommon
	url = https://github.com/PerFuchs/libcommon
	branch = master
[submodule "third-party/perfevent"]
	path = third-party/perfevent
	url = https://github.com/viktorleis/perfevent.git
