# Eclipse project files
/.cproject
/.project
/.settings/
/eclipse_symbols.xml

# project files
*.idea
*.iml
_Deparsed_XSubs.pm
/.vscode/

# Autoconf
/autom4te.cache/
/configure

# Build directories
/build/
/Debug/
/Release/
